:root {
  --black: hsl(212, 21%, 14%);
  --gray: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(158, 42%, 18%);
  --light-green: hsl(158, 36%, 37%);

  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}
body {
  flex-direction: column;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 14px;
  padding: 1rem;
  color: var(--gray);
  background: var(--cream);
  font-weight: 500;
}
.product-card {
  width: 100%;
  background: var(--white);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.product-card__image-section {
  height: 60vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem 1rem 0rem 0rem;
  }
}
.product-card__image__desktop {
  display: none;
}
.product-card__details {
  padding: 2rem;
}
.product-card__category {
  font-size: large;
  letter-spacing: 3px;
  line-height: 3rem;
  opacity: 0.5;
}
.product-card__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  font-family: var(--ff-accent);
  margin-bottom: 1rem;
}
.product-card__description {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.product-card__price {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.product-card__current-price {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--ff-accent);
  color: var(--light-green);
}
.product-card__original-price {
  text-decoration: line-through;
}
.product-card__button {
  border: none;
  width: 100%;
  background: var(--light-green);
  height: 3rem;
  color: var(--white);
  border-radius: 0.5rem;
  font-weight: 700;
}
.product-card__button:hover {
  background-color: var(--green);
}
.product-card__button img {
  margin-right: 5px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 650px) {
  .product-card {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .product-card__image-section,
  .product-card__details {
    flex: 1;
  }
  .product-card__image__desktop {
    display: block;
  }
  .product-card__image {
    display: none;
  }
  .product-card__image-section {
    height: 100%;
    img {
      border-radius: 1rem 0rem 0rem 1rem;
    }
  }
}
